:root {
    --main-primary: #4f91ff;
    --main-primaryLighter: #d8e6ff;
    --main-primaryDarker: #2264d1;
    --main-secondary: #76a9ff;
    --main-secondaryLighter: #cee5ff;
    --main-secondaryDarker: #2979ff;
    --main-tertiary: #e1e1e3;
    --main-tertiaryLighter: #f0f0f1;
    --main-tertiaryDarker: #b4b4bb;
    --main-antd: #1890FF;
    --main-major: #2979ff;
    --main-ghost: #bae7ff;
    --main-minor: #f7fafc;
    --main-info: #13c2c2;
    --main-success: #43a047;
    --main-warning: #ee8d00;
    --main-caution: #fadb14;
    --main-danger: #ff4d4f;
    --main-black: #000000;
    --main-grey: #4a4b57;
    --main-indigo: #4B0082;
    --main-crimson: #dc143c;
    --main-leaf: #5ca904;
    --main-orange: #EF6C1F;
    --main-purple: #93258E;
    --main-salmon: #fccbc8;
    --main-yellow: #fadb14;
    --main-hovered: #f0f0f1;
    --main-activated: #cee5ff;
    --main-highlighted: #bae7ff;
    --main-visited: #f7fafc;
    --main-disabled: #f7fafc;
    --main-link: #1890ff;

    --sub-primary: #609cff;
    --sub-primaryLighter: #dbe8ff;
    --sub-primaryDarker: #3873d5;
    --sub-secondary: #83b1ff;
    --sub-secondaryLighter: #d2e7ff;
    --sub-secondaryDarker: #3e86ff;
    --sub-tertiary: #e4e4e5;
    --sub-tertiaryLighter: #f1f1f2;
    --sub-tertiaryDarker: #bbbbc1;
    --sub-antd: #40A9FF;
    --sub-major: #4f91ff;
    --sub-ghost: #e6f7ff;
    --sub-minor: #edf2f7;
    --sub-info: #36cfc9;
    --sub-success: #65b168;
    --sub-warning: #f0a22f;
    --sub-caution: #d4b106;
    --sub-danger: #ff7875;
    --sub-black: #191919;
    --sub-grey: #5b5c68;
    --sub-indigo: #5a009c;
    --sub-crimson: #eb1f48;
    --sub-leaf: #6cb11d;
    --sub-orange: #fF8C3F;
    --sub-purple: #a345aE;
    --sub-salmon: #fee0e0;
    --sub-yellow: #ffec3d;
    --sub-hovered: #f1f1f2;
    --sub-activated: #d2e7ff;
    --sub-highlighted: #bae7ff;
    --sub-visited: #f7fafc;
    --sub-disabled: #cccccc;
    --sub-link: #40a9ff;

    --contrast-primary: #ffffff;
    --contrast-primaryLighter: #4a4b57;
    --contrast-primaryDarker: #ffffff;
    --contrast-secondary: #ffffff;
    --contrast-secondaryLighter: #4a4b57;
    --contrast-secondaryDarker: #ffffff;
    --contrast-tertiary: #4a4b57;
    --contrast-tertiaryLighter: #4a4b57;
    --contrast-tertiaryDarker: #ffffff;
    --contrast-antd: #ffffff;
    --contrast-major: #ffffff;
    --contrast-minor: #4a4b57;
    --contrast-info: #ffffff;
    --contrast-success: #ffffff;
    --contrast-warning: #ffffff;
    --contrast-caution: #ffffff;
    --contrast-danger: #ffffff;
    --contrast-black: #ffffff;
    --contrast-grey: #ffffff;
    --contrast-indigo: #ffffff;
    --contrast-crimson: #ffffff;
    --contrast-leaf: #ffffff;
    --contrast-orange: #ffffff;
    --contrast-purple: #ffffff;
    --contrast-salmon: #4a4b57;
    --contrast-yellow: #4a4b57;
    --contrast-hovered: #4a4b57;
    --contrast-activated: #4a4b57;
    --contrast-highlighted: #4a4b57;
    --contrast-visited: #4a4b57;
    --contrast-disabled: #cccccc;
    --contrast-link: #ffffff;
}