:root {
    --main-primary: #4f91ff;
    --main-primaryLighter: #d8e6ff;
    --main-primaryDarker: #2264d1;
    --main-secondary: #76a9ff;
    --main-secondaryLighter: #cee5ff;
    --main-secondaryDarker: #2979ff;
    --main-tertiary: #e1e1e3;
    --main-tertiaryLighter: #f0f0f1;
    --main-tertiaryDarker: #b4b4bb;
}