:root {
    --main-primary: #1890ff;
    --main-primaryLighter: #e6f7ff;
    --main-primaryDarker: #0050b3;
    --main-tertiary: #bfbfbf;
    --main-tertiaryLighter: #f5f5f5;
    --main-tertiaryDarker: #595959;
    --main-antd: #1890ff;
    --main-danger: #f5222d;
    --main-dangerLighter: #fff1f0;
    --main-dangerDarker: #a8071a;
    --main-success: #16a34a;
    --main-successLighter: #dcfce7;
    --main-successDarker: #166534;
    --main-warning: #fa8c16;
    --main-warningLighter: #fff7e6;
    --main-warningDarker: #ad4e00;

    --contrast-primary: #ffffff;
    --contrast-primaryLighter: #4a4b57;
    --contrast-primaryDarker: #ffffff;
    --contrast-antd: #ffffff;
    --contrast-danger: #ffffff;
    --contrast-dangerLighter: #4a4b57;
    --contrast-dangerDarker: #ffffff;
    --contrast-success: #ffffff;
    --contrast-successLighter: #4a4b57;
    --contrast-successDarker: #ffffff;
    --contrast-warning: #ffffff;
    --contrast-warningLighter: #4a4b57;
    --contrast-warningDarker: #ffffff;
}