@import './__lib__/theme/index.scss';

.app-wrapper {
    font-size: 14px;
    background-color: var(--main-tertiaryLighter);
    height: 100vh;
    display: flex;
    flex-direction: column;

    .app-body {
        flex: 1;
    }
}